<div class="footer">
  <div class="footer-top">
    <div class="footer-top-left">
      <h3>Want to take a dive <br> with me?</h3>
    </div>
    <div class="footer-top-right">
      <p>gaborit.alicia@gmail.com</p>
      <p>+33 6 86 33 72 15</p>
    </div>
  </div>
  <div class="footer-line"></div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <%= link_to about_path, class: "navbar-brand" do %>
        <%= image_tag("Logo_A.png", alt: "A.") %>
      <% end %>
    </div>
    <div class="footer-bottom-right">
      <div class="footer-navlinks">
        <h6><u>Main</u></h6>
        <ul>
          <li>
            <%= link_to "About", about_path %>
          </li>

          <li>
            <%= link_to "Work", work_path %>
          </li>

          <li>
            <%= link_to "Art Work", art_work_path %>
          </li>

          <li>
            <%= link_to "Contact", contact_path %>
          </li>
        </ul>
      </div>
      <div class="footer-services">
        <h6><u>Services</u></h6>
        <ul>
          <li>
            <%= link_to "Graphic Design", "#" %>
          </li>

          <li>
            <%= link_to "Social Media Management", "#" %>
          </li>

          <li>
            <%= link_to "Web Graphical Design", "#" %>
          </li>
        </ul>
      </div>
      <div class="footer-social-media">
        <h6><u>Social</u></h6>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/alicia-gaborit-52476481/" target="_blank">LinkedIn</a>
          </li>

          <li>
            <a href="https://dribbble.com/aliciaviolette" target="_blank">Dribbble</a>
          </li>

          <li>
            <a href="https://www.malt.fr/profile/aliciagaborit" target="_blank">Malt</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
